﻿@model SurveysSystem.Models.LoginModelView

@{
    ViewBag.Title = "LogIn";
}

<h2>Logowanie</h2>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    
    <div>
        <fieldset>
            <legend>Logowanie</legend>
            <div class="editor-label">
                <div>@Html.LabelFor(u=>u.email)</div>
            </div>
    
            <div class="editor-field">
                <div>@Html.EditorFor(u=>u.email)
                    @Html.ValidationMessageFor(u=>u.email)
                </div>
            </div>
    
            <div class="editor-label">
                <div>@Html.LabelFor(u=>u.password)</div>
            </div>
    
            <div class="editor-field">
                <div>@Html.PasswordFor(u=>u.password)
                    @Html.ValidationMessageFor(u=>u.password)
                </div>
            </div>

           <input type="submit" value="Zaloguj" />
    
         </fieldset>
    </div>
}
