﻿@model SurveysSystem_Model.Entities.User

@{
    ViewBag.Title = "Register";
}

<h2>Rejestracja</h2>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="editor-label">
        @Html.LabelFor(u => u.name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(u => u.name)
        @Html.ValidationMessageFor(u => u.name)
    </div>
    <div class="editor-label">
        @Html.LabelFor(u => u.last_name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(u => u.last_name)
        @Html.ValidationMessageFor(u => u.last_name)
     </div>
     <div class="editor-label">
        @Html.LabelFor(u => u.email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(u => u.email)
        @Html.ValidationMessageFor(u => u.email)
     </div>
    <div class="editor-label">
        @Html.LabelFor(u => u.password)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(u => u.password)
        @Html.ValidationMessageFor(u => u.password)
     </div>
    
    <input type="submit" value="Zapisz" />
}
