﻿@model SurveysSystem.Models.SurveysModel

@{
    ViewBag.Title = "CreateSurvey";
}

<h2>Układanie ankiety</h2>
@using (Html.BeginForm("CreateSurvey", "Elements"))
{
    @Html.ValidationSummary(false)

    <div class="editor-label">
         <br />
        <div>@Html.LabelFor(e => e.SelectedTitle)
           
            @if (TempData["surveyMessage"] != null)
            {
                <div style="color: red">
                    @TempData["surveyMessage"]
                </div>
            }
            <br />
        </div>
    </div>
    
    <div class="editor-field">

        <div>@Html.DropDownListFor(e => e.SelectedTitle, Model.SurveyTitleToChoose)</div>
        @Html.ValidationMessageFor(m => m.SelectedTitle)

    </div>

    <div class="editor-label">
        <br />
           <div>@Html.LabelFor(e=>e.SurveyTitleTextBox)
               
               @if (TempData["surveyMessage"] != null)
	            {
                   <div style="color:red">
		            @TempData["surveyMessage"]
                       </div>
	            }
               <br />
           </div>
       </div>
    
       <div class="editor-field">
            <div>@Html.EditorFor(e=>e.SurveyTitleTextBox.text)
               
             </div>
           <div>@Html.ValidationMessageFor(m => m.SurveyTitleTextBox.text)</div>
       </div>
        
    <div class="editor-label">
        <br />
        <div>@Html.LabelFor(e => e.SelectedQuestion)
            
            @if (TempData["questionMessage"] != null)
            {
                <div style="color: red">
                    @TempData["questionMessage"]
                </div>
            }
            <br />
        </div>
    </div>
    
    <div class="editor-field">

        <div>@Html.DropDownListFor(e => e.SelectedQuestion, Model.QuestionsToChoose)</div>
        @Html.ValidationMessageFor(m => m.SelectedQuestion)

    </div>
    
     <div class="editor-label">
          <br />
        <div>@Html.LabelFor(e => e.SelectedType)
           
            @if (TempData["selectedType"] != null)
            {
                <div style="color: red">
                    @TempData["selectedType"]
                </div>
            }
            <br />
        </div>
    </div>
    
    <div class="editor-field">

        <div>@Html.DropDownListFor(e => e.SelectedType, Model.AnswerType)</div>
        @Html.ValidationMessageFor(m => m.SelectedType)

    </div>
    
     <div class="editor-label">
         <br />
        <div>@Html.LabelFor(e => e.Amount_of_answers)
            
            @if (TempData["amountMessage"] != null)
            {
                <div style="color: red">
                    @TempData["amountMessage"]
                </div>
            }
            <br />
        </div>
    </div>
    
    <div class="editor-field">
        <div>@Html.EditorFor(e => e.Amount_of_answers)
           
        </div>
        @Html.ValidationMessageFor(m => m.Amount_of_answers)

    </div>
    
      <div class="editor-label">
           <br />
        <div>@Html.LabelFor(e => e.SelectedAnswer)
           
            @if (TempData["answerMessage"] != null)
            {
                <div style="color: red">
                    @TempData["answerMessage"]
                </div>
            }
            <br />
        </div>
    </div>
    
    <div class="editor-field">

        <div>@Html.DropDownListFor(e => e.SelectedAnswer, Model.AnswersToChoose)</div>
        @Html.ValidationMessageFor(m => m.SelectedAnswer)

    </div>
 
    <br />
       
    <div>
        @if (TempData["message"]!=null)
	    {
		    @TempData["message"]
	    }
    </div>
    
    <input type="submit" value="Zapisz" name="buttonType" />
    <input type="submit" value="Dodaj pytanie"  name="buttonType"/>
}
