﻿@model SurveysSystem.Models.DeletingSurveyModel

@{
    ViewBag.Title = "DeleteSurvey";
}

<h2>Usuwanie ankiety</h2>

@using (Html.BeginForm("DeleteSurvey", "Elements"))
{
    @Html.ValidationSummary(false)

    <div class="editor-label">
         <br />
        <div>@Html.LabelFor(e => e.SelectedTitle)
           
            @if (TempData["surveyMessage"] != null)
            {
                <div style="color: red">
                    @TempData["surveyMessage"]
                </div>
            }
            <br />
        </div>
    </div>
    
    <div class="editor-field">

        <div>@Html.DropDownListFor(e => e.SelectedTitle, Model.SurveyTitleToChoose, "- Wybierz ankietę -")</div>
        @Html.ValidationMessageFor(m => m.SelectedTitle)

    </div>
    
    <div class="editor-label">
        <br />
        <div>@Html.LabelFor(e => e.SelectedContent)
            
            @if (TempData["contentMessage"] != null)
            {
                <div style="color: red">
                    @TempData["contentMessage"]
                </div>
            }
            <br />
        </div>
    </div>
    
    <div class="editor-field">

        <div>@Html.DropDownListFor(e => e.SelectedContent, Model.ContentToChoose, "- Wybierz treść -")</div>
        @Html.ValidationMessageFor(m => m.SelectedContent)

    </div>
    
    <br />
       
    <div>
        @if (TempData["message"]!=null)
	    {
		    @TempData["message"]
	    }
    </div>
    
    <input type="submit" value="Usuń" />
}
