﻿@*odwołanie się do modelu widoku*@
@model ElementsModel

@using SurveysSystem.Models

@*tytuł widoku*@
@{
    ViewBag.Title = "Edycja";
}

@*tytuł widoku, który będzie wyświetlony na stronie*@
<h2>Edycja</h2>

@*zaznaczenie, że widok należy do akcji Edit w kontrolerze ElementsController*@
@using (Html.BeginForm("Edit", "Elements", FormMethod.Post, new { id = "Edit" }))
{
    //zaznaczenie, że wymaga się wyświetlania informacji o błędach
        
    @Html.ValidationSummary(false)
  
    <div>
        @*pole edycji dla obiektu Question*@
         <div class="editor-label">
             <br />
            @*Label jako informacja*@
           <div>@Html.LabelFor(e => e.Question) 
                  
               @*wyświetlanie informacji o błedach, jeżeli jest  *@
               @if (TempData["questionMessage"] != null)
               {
                   <div style="color:red">
		                @TempData["questionMessage"]
                   </div>
               }
               <br />
           </div>
      </div>
@*  EditorFor - jako pole do uzupełnienia*@
       <div class="editor-field">
            <div>@Html.EditorFor(e => e.Question.text)</div>
   @*        wiadomość walidacji dla obiektu*@
           <div>@Html.ValidationMessageFor(m => m.Question.text)</div>
       </div>
   
         @*pole edycji dla obiektu Amount_of_answers *@

      <div class="editor-label">
             <br />
          @*Label jako informacja*@
           <div>@Html.LabelFor(e => e.Amount_of_answers)
               
                @*wyświetlanie informacji o błedach, jeżeli jest  *@
               @if (TempData["amountMessage"] != null)
               {
                   <div style="color:red">
		                @TempData["amountMessage"] 
                    </div>
               }
               <br />
           </div>
      </div>

    @*lista wyboru - DropDownList dla ilosci odpowiedzi*@
       <div class="editor-field">
           <div>@Html.DropDownListFor(e => e.Amount_of_answers, (SelectList)ViewBag.Numbers, new { onchange = "this.form.submit();" }) 
           </div>
           @*        wiadomość walidacji dla obiektu*@
           <div>@Html.ValidationMessageFor(m => m.Amount_of_answers)</div>
       </div>
    </div>  
    
    //wyswietlanie tylu pól edycji dla odpowiedzi, jaką wybrano wcześniej ich liczbę
      for (int i = 0; i < Model.Amount_of_answers; i++)
      {
        <div class="answerLabel">
            <br />
               <div>@Html.LabelFor(e => e.Answer)
               
                   @if (TempData["answerMessage"] != null)
                   {
                       <div style="color:red">
		                    @TempData["answerMessage"] 
                        </div>
                   }
                   <br />
               </div>
          </div>
    
           <div class="answerFields">
                <div>@Html.EditorFor(e => e.Answer[i].text)
               
                 </div>
               <div>@Html.ValidationMessageFor(m => m.Answer[i].text)</div>
           </div>
           }

           <br />
           
    //wyswietlanie końcowej wiadomości o wyniku dodania nowych elementów do bazy
    <div>
        @if (TempData["message"] != null)
        {
		    @TempData["message"]
        }
    </div>
    
    //przycisk wywołujący akcjęzapisu danych do bazy
    <input type="submit" value="Zapisz"  name="buttonType"/>
    <input type="submit" value="Nowe pytanie"  name="buttonType"/>
}