﻿@{
    ViewBag.Title = "Strona główna";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               Czym chcesz się teraz zająć? Wybierz z opcji poniżej:
            </p>
        </div>
    </section>
}
@*<h3>We suggest the following:</h3>*@
<ol class="round">
<li class="one"  >
       <h5> <a href="@Url.Action("Edit", "Elements")"> Układanie pytań i odpowiedzi</a></h5>

         W tej części możesz układać pojedyncze elementy ankiety
    </li>
    <li class="two">
        <h5> <a href="@Url.Action("CreateSurvey", "Elements")"> Tworzenie ankiet </a> </h5>
        Tutaj możesz układać ankiety z gotowych elementów
    </li>

    <li class="three">
        <h5> <a href="@Url.Action("DeleteSurvey", "Elements")"> Usuwanie ankiet </a> </h5>
        Ta część służy do usuwania ankiet i pojedynczych elementów zawartości
    </li>

    <li class="four">
        <h5> <a href="@Url.Action("SurveysChoosing", "Sharing")"> Wyświetlanie ankiet </a> </h5>
        Ta część służy do rozwiązywania ankiet i zapisywania wyników
    </li>
</ol>
