﻿@model SurveysSystem.Models.SurveysSelecting

@{
    ViewBag.Title = "SurveysChoosing";
}

<h2>Wybierz ankietę</h2>
<br />
@using (Html.BeginForm("SurveysChoosing", "Sharing"))
{
    @Html.ValidationSummary(false)

<div class="editor-label">
        <br />
        <div>@Html.LabelFor(e => e.SelectedSurvey)
            <br />
        </div>
    </div>
    
    <div class="editor-field">

        <div>@Html.DropDownListFor(e => e.SelectedSurvey, Model.SurveysToChoose, "- Wybierz ankietę -", new { onchange = "this.form.submit();" })</div>
        @Html.ValidationMessageFor(m => m.SelectedSurvey)
    </div>
}
