﻿@model SurveysSystem.Models.SurveysSharingModel

@{
    ViewBag.Title = "UsersAnswers";
}

<h2>Widok ankietowanego</h2>

@using (Html.BeginForm("UsersAnswers", "Sharing"))
{
    @Html.ValidationSummary(false)
 
    <div class="editor-field">
        <h4>@Html.DisplayFor(e => e.Title)</h4>
        <br />
    </div>


    foreach (var item in Model.QuestionAnswer)
    {
    <div class="editor-field">
        <br />
        <div>@Html.DisplayFor(e => e.Contents.First(a => a.id ==  item.Key).text)</div>
    </div> 

        for (int i = 0; i < item.Value.Count(); i++)
        {
            if (Model.Elements.First(e=>e.question_id==item.Key).type_id == 1)
            {
                <div class="editor-field">
                <br />
                <div>@Html.RadioButton(item.Key.ToString(), item.Value[i]) @item.Value[i] </div>
            </div>
            }
            else if (Model.Elements.First(e => e.question_id == item.Key).type_id == 2)
            {
                <div class="editor-field">
                <br />
                <div>@Html.CheckBoxFor(e=>e.CheckedList.First(c=>c.Value == Model.QuestionAnswer.First(a => a.Value == item.Value).Value[i]).IsSelected)
                    @Html.DisplayFor(m=>m.CheckedList.First(c=>c.Value == Model.QuestionAnswer.First(a => a.Value == item.Value).Value[i]).Value)
                     @Html.HiddenFor(m=>m.CheckedList.First(c=>c.Value == Model.QuestionAnswer.First(a => a.Value == item.Value).Value[i]).Value)                   
                    </div>
            </div>
           }
            else if (Model.Elements.First(e => e.question_id == item.Key).type_id == 3)
            {
                <div class="editor-field">

                <div>@Html.EditorFor(e => e.TextAnswer)</div>
                 @Html.ValidationMessageFor(m => m.TextAnswer)
             </div>

            }
            
        }
    }
  <br />
           if (TempData["message"] != null)
            {
                <div style="color: red">
                    @TempData["message"]
                </div>
            }
    
    <input type="submit" value="Zapisz" />
}

